<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset id="email-field">
            {{ form.email.label }}
            {{ form.email(class = 'form-control', placeholder = 'Please enter valid email') }}
        </fieldset>
    </div>

        <fieldset id="pass-field">
            {{ form.password.label }}
            {{ form.password(class = "form-control", placeholder = "Please enter password") }}
        </fieldset>

        <!-- Submit button area -->
        {{ form.submit_button(class = "btn btn-two_nd btn-outline-one_st btn-block mt-2")}}
</form>